
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

    <h2>Welcome</h2>
    <img src="~/images/splash4.jpg" />
    <img src="~/MyStaticFiles/splash3.jpg" />
    @Html.Label("FirstName","FirstName:", new {@class = "caption" })
</body>
</html>
