
@*@{ 
    Layout = null;
}*@
@*<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">*@
@{ 
    dynamic data = ViewBag.Data;
    var newData = ViewData["data"] as BookModel;
    //ViewData["Title"] = "Home";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Book store</h1>
        <h2>@newData.Author</h2>
        <h2>@newData.Language</h2>
        <h2>@ViewData["CustomProperty"]</h2>

        <environment names="Development">
            <h3>Development</h3>
        </environment>

        <environment names="Production">
            <h3>Production</h3>
        </environment>
        @*<p class="lead text-muted">
            lorem23 slsllllllllllllllllllllllllll
            <h2 class="h1">Welcome</h2>
            <h6 class="display-4">Welcome home danny</h6>
            <img src="~/images/splash4.jpg" />
            <input type="button" value="click me aslo" class="btn btn-success" />
            <img src="~/MyStaticFiles/splash3.jpg" />
            @Html.Label("FirstName", "FirstName:", new { @class = "caption" })
        </p>*@
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>


</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3>Top Books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder card-img-top" width="100%" height="225" xmlns="http://www.w3.org/200"/>
                <div class="card-body">
                    <p class="card-text">This is section will be used</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                    <small class="text-muted">Author Name</small>
                    </div>

                </div>
                         </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder card-img-top" width="100%" height="225" xmlns="http://www.w3.org/200" />
                    <div class="card-body">
                        <p class="card-text">This is section will be used</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder card-img-top" width="100%" height="225" xmlns="http://www.w3.org/200" />
                    <div class="card-body">
                        <p class="card-text">This is section will be used</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

 
@*including thr jquery link is not needed herer because it has been included in layout
<script src="~/lib/jquery/jquery.js"></script>*@
@section scripts{ 

    <script>
        $(document).ready(function () {
            //alert("Page loaded");
        });
    </script>
}

